* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $mainFont, $secondaryFont, sans-serif;
  color: var(--black-color);
  position: relative;
  width: 1600px;
  background-color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.section {
  padding-top: 94px;
  &__title {
    text-align: center;
    padding-bottom: 50px;
    &--team {
      display: flex;
      justify-content: center;
      padding-top: 94px;
    }
  }
}
