.footer {
  color: var(--white-color);
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  &__items {
    display: flex;
  }
  &-address {
    padding-top: 20px;
    line-height: 1.71;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-style: normal;

    &__email {
      color: var(--footer-address-color);
      text-decoration: none;
    }
    &__phone {
      color: var(--footer-address-color);
      text-decoration: none;
    }
    &__email:hover,
    &__email:focus,
    &__phone:hover,
    &__phone:focus {
      color: var(--blue-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &-sections {
    padding-top: 12px;
    &__title {
      font-size: 14px;
      text-transform: uppercase;
      color: var(--white-color);
      padding-bottom: 20px;
    }
    &__input {
      background-color: var(--footer-background-color);
      box-sizing: border-box;
      position: absolute;
      border: 1px solid var(--footer-form-border);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      padding-left: 16px;
      padding-right: 150px;
      padding-top: 15px;
      padding-bottom: 15px;
      letter-spacing: 0.03em;
      color: white;
    }
    &--first {
      margin-left: 70px;
    }
    &--second {
      margin-left: 78px;
    }
  }
  &-icons {
    display: flex;
    justify-content: space-between;
    width: 206px;
    &__link {
      fill: var(--white-color);
      width: 20px;
      height: 20px;
      text-decoration: none;
    }
    &__background {
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: var(--footer-background-icon);
      &:hover,
      &:focus {
        background-color: var(--blue-color);
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
  &-btn {
    position: absolute;
    padding: 13px 28px 13px 42px;
    margin-left: 370px;
    background: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    letter-spacing: 0.06em;
    color: var(--white-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &__icon {
      text-align: center;
      fill: var(--white-color);
      width: 24px;
      height: 24px;
      margin-left: 24px;
    }
  }
}
