.header {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--header-line-color);
  &-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-address {
    display: flex;
    text-decoration: none;
    &__icon {
      fill: currentColor;
      margin-right: 10px;
    }
    &__description {
      display: flex;
      margin-left: 30px;
      color: var(--mail-phone-color);
      text-decoration: none;
      align-items: center;
      &:first-child {
        margin-left: 0;
      }
      &:hover,
      &:focus {
        color: var(--blue-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    & .header-address__icon--envelope {
      width: 16px;
      height: 12px;
    }
    & .header-address__icon--mobile {
      width: 10px;
      height: 36px;
    }
  }
}
.navigation-header {
  display: flex;
  margin-right: 364px;
  &__description {
    margin-left: 46px;
    color: var(--strong-text-color);
    text-decoration: none;
    position: relative;
    &:first-child {
      margin-left: 0;
    }
    &:focus,
    &:hover {
      color: var(--blue-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &--underline {
    color: var(--blue-color);
    &::after {
      position: absolute;
      display: block;
      content: "";
      background-color: var(--blue-color);
      width: 100%;
      height: 4px;
      border-radius: 2px;
      top: 48px;
    }
  }
}
