.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    & .modal__block {
      transform: scale(2);
    }
  }
  &__block {
    position: relative;
    top: 50%;
    left: 50%;
    width: 528px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border: 1px solid var(--light-gray);
    border-radius: 50%;
    cursor: pointer;
    &:hover,
    &:focus {
      cursor: pointer;
      background-color: var(--blue-color);
      color: var(--white-color);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover .modal__close-icon,
    &:focus .modal__close-icon {
      fill: var(--white-color);
    }
  }
  &__close-icon {
    fill: var(--black-color);
    width: 11px;
    height: 11px;
  }
  &__description {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--strong-text-color);
    padding-bottom: 12px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    & button {
      display: flex;
      justify-content: center;
      margin: auto;
      padding: 10px 76px;
      background: var(--blue-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: none;
      font-weight: 700;
      line-height: 1.875;
      letter-spacing: 0.06em;
      color: var(--white-color);
      cursor: pointer;
      &:focus,
      &:hover {
        background: var(--modal-btn-active);
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
  &-blocks {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17167;
    letter-spacing: 0.01em;
    color: var(--mail-phone-color);
    padding-bottom: 10px;
    &:nth-child(4) {
      padding-bottom: 0;
    }
    &__descript {
      padding-bottom: 4px;
    }
    &__input {
      width: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
      border: 1px solid var(--modal-input-color);
      border-radius: 4px;
      box-sizing: border-box;
      padding-left: 42px;
      &:hover,
      &:focus {
        outline: none;
        border-color: var(--blue-color);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &:hover ~ .modal-blocks__icons,
      &:focus ~ .modal-blocks__icons {
        fill: var(--blue-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    &__icons {
      position: absolute;
      top: 50%;
      left: 15px;
      display: inline-block;
      fill: var(--strong-text-color);
    }
    &__textarea {
      width: 100%;
      height: 120px;
      border: 1px solid var(--modal-input-color);
      border-radius: 4px;
      box-sizing: border-box;
      padding-top: 12px;
      padding-left: 16px;
      padding-right: 16px;
      &::placeholder {
        color: rgba(117, 117, 117, 0.5);
      }
      &:focus,
      &:hover {
        outline: none;
        border-color: var(--blue-color);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
  &-accept {
    display: flex;
    align-items: center;
    margin-left: 14px;
    padding-bottom: 30px;
    padding-top: 20px;
    &__square {
      width: 16px;
      height: 15px;
      position: relative;
      border: 2px solid var(--strong-text-color);
      border-radius: 3px;
      margin-right: 8px;
      &:hover,
      &:focus {
        border-color: var(--blue-color);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    &__checkbox {
      position: absolute;
      z-index: 200;
      width: 18px;
      height: 16px;
      appearance: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:checked + .modal-accept__icon {
        background-color: var(--blue-color);
        border: none;
      }
    }
    &__icon {
      border-radius: 3px;
      width: 17px;
      height: 17px;
      padding: 2px;
      z-index: 102;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: var(--active-icon);
      position: absolute;
    }
    &__text {
      font-size: 14px;
      line-height: 1.17143;
      letter-spacing: 0.03em;
      color: var(--mail-phone-color);
      & a {
        color: var(--blue-color);
        margin-left: 0;
      }
    }
  }
}
