.portfolio {
  &-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    padding-top: 100px;
    padding-bottom: 56px;
    text-align: center;
    &__btn {
      font-weight: bold;
      background: var(--team-background-color);
      border-style: none;
      padding: 6px 20px;
      line-height: 1.625;
      border-radius: 4px;
      margin-left: 8px;
      cursor: pointer;
      &:nth-child(1) {
        margin-left: 0px;
      }
      & a {
        text-decoration: none;
        color: var(--strong-text-color);
      }
      &:focus,
      &:hover {
        background-color: var(--blue-color);
        color: var(--white-color);
        box-shadow: 0px 3px 1px var(--light-gray),
          0px 1px 2px var(--portfolio-shadow),
          0px 2px 2px var(--blocks-shadow-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-bottom: 94px;
    &:nth-child(3n) {
      gap: 0;
    }
    &__blocks {
      display: block;
      margin-top: 0;
      &:hover {
        box-shadow: 0px 3px 1px var(--light-gray),
          0px 1px 2px var(--portfolio-shadow),
          0px 2px 2px var(--blocks-shadow-color);
        cursor: pointer;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &:hover .portfolio-animation {
        transform: translateY(0);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    &__img {
      position: relative;
      overflow: hidden;
      & img {
        display: block;
      }
    }
  }
  &-animation {
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &__descript {
      position: absolute;
      top: 0;
      left: 0;
      padding: 63px 24px;
      font-size: 18px;
      line-height: 1.56;
      color: var(--white-color);
    }
  }
  &-figcaption {
    list-style-type: none;
    padding: 20px 24px 20px 24px;
    border-left: 1px solid var(--portfolio-border-block-color);
    border-bottom: 1px solid var(--portfolio-border-block-color);
    border-right: 1px solid var(--portfolio-border-block-color);
    margin-top: -4px;
    &__name {
      font-weight: bold;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.06em;
      color: var(--strong-text-color);
      line-height: 2;
    }
    &__descript {
      font-size: 16px;
      letter-spacing: 0.03em;
      color: var(--mail-phone-color);
      line-height: 1.875;
    }
  }
}
