$blackColor: #000;
$whiteColor: #fff;
$lightGray: rgba(0, 0, 0, 0.1);
$headerLineColor: #ececec;
$strongTextColor: #212121;
$blueColor: #2196f3;
$mailPhoneColor: #757575;
$teamBackgroundColor: #f5f4fa;
$footerBackgroundColor: #2f303a;
$portfolioBorderBlockColor: #eeeeee;
$footerAddressColor: rgba(255, 255, 255, 0.6);
$frontBtnShadow: rgba(0, 0, 0, 0.15);
$teamBlockShadowFirst: rgba(0, 0, 0, 0.14);
$teamBlockShadowSecond: rgba(0, 0, 0, 0.2);
$blocksShadowColor: rgba(0, 0, 0, 0.12);
$portfolioShadow: rgba(0, 0, 0, 0.08);
$activeIcon: #afb1b8;
$footerBackgroundIcon: rgba(255, 255, 255, 0.1);
$professionNameBackground: rgba(47, 48, 58, 0.8);
$footerFormBorder: rgba(255, 255, 255, 0.3);
$modalInputColor: rgba(33, 33, 33, 0.2);
$modalBtnActive: #0769b9e5;

$mainFont: "Roboto";
$secondaryFont: "Raleway";
